{% extends 'bootstrap/base.html' %}

{% block head %}
    <title>Register!</title>
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
    <div style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTU-vafoAnjYK0KPIGdG2pzdZiKGSJ3cFZYPk3idGsqJC_5NUrAw'); background-repeat: no-repeat; background-size: cover; background-position: center center; height: 100vh;">
        <div class="container col-md-4 col-lg-offset-4">
                <h1 class="white">Welcome to Clothes Similarity Search!</h1>
                <h2 class="white">Register</h2>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        <span class="white">{{ form.username.label }}</span> <br>
                        <span class="black">{{ form.username(size=32) }}<br>
                            {% for error in form.username.errors %} </span>
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        <span class="white">{{ form.email.label }} </span> <br>
                        <span class="black">{{ form.email(size=64) }}<br>
                            {% for error in form.email.errors %} </span>
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        <span class="white">{{ form.password.label }}</span> <br>
                        <span class="black"> {{ form.password(size=32) }}<br>
                            {% for error in form.password.errors %} </span>
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        <span class="white">{{ form.password2.label }} </span><br>
                        <span class="black">{{ form.password2(size=32) }}<br>
                            {% for error in form.password2.errors %} </span>
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit() }}</p>
                    <p class="white"> Already a member? <a href="{{ url_for('login') }}">Login</a> </p>
                </form>
        </div>
    </div>
{% endblock %}